## Here i performed collabrative filtering here i recomended posts for a particular user 
## based on other similar users own choices

In [21]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [22]:
df_users = pd.read_csv('users.csv')
df_posts = pd.read_csv('posts.csv')
df_views = pd.read_csv('views.csv')

In [23]:
df_posts.columns=["post_id","title","category","post_type"]
df_posts=df_posts.dropna(how='any',axis=0) 
df_posts

,post_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog
...,...,...,...,...
487,5ed3476576027d35905cca1d,AWS CLI Setup in Mac,Technology,skill
488,5ed3791976027d35905ccab6,CI/CD using GitHub Actions,Computer Technology|Information Technology,blog
489,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
491,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill
492,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog

In [24]:
df_users.columns=["user_id","name","gender","academics"]
df_users

                      user_id                  name  gender      academics
0    5d60098a653a331687083238  Nivesh Singh Chauhan    male  undergraduate
1    5d610ae1653a331687083239         Gaurav Sharma    male       graduate
2    5d618359fc5fcf3bdd9a0910         Akshay Mishra    male  undergraduate
3    5d6d2bb87fa40e1417a49315        Saksham Mathur    male  undergraduate
4    5d7c994d5720533e15c3b1e9         Varun Chowhan    male  undergraduate
..                        ...                   ...     ...            ...
113  5ed35aa376027d35905cca67                 Steve    male       graduate
114  5ed3737976027d35905ccaa2        Himanshu Singh    male  undergraduate
115  5ed3748576027d35905ccaab           Parth Vijay    male  undergraduate
116  5ed3cbcbbd514d602c1530a7       Abhishek Mishra    male  undergraduate
117  5ed3e898bd514d602c1530de          gauri raskar  female       graduate

[118 rows x 4 columns]

In [25]:
df_new=df_users.merge(df_views)

In [26]:
df_new=df_new.merge(df_posts)

In [27]:
df_new

,user_id,name,gender,academics,post_id,timestamp,title,category,post_type
0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T18:01:54.308Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
1,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T20:40:18.693Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
2,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,5ed3820f76027d35905ccac8,2020-06-01T08:08:54.124Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
3,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T10:08:37.079Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog
4,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed1ff0276027d35905cc60d,2020-05-31T08:21:29.911Z,AWS services and how to launch OS on AWS Cloud,Computer Technology|Cloud Computing,blog
...,...,...,...,...,...,...,...,...,...
1354,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed23e4d76027d35905cc7b8,2020-05-30T20:54:29.465Z,Success Story Of OYO Founder Ritesh Agarwal,Mass Media|Media And Society,blog
1355,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed2378276027d35905cc6b5,2020-05-30T10:40:59.948Z,Acceptance!,Visual Arts|Calligraphy|Pen and ink,artwork
1356,5ecf6e6576027d35905cbeec,ashish,male,graduate,5ed0007a76027d35905cc0ea,2020-05-29T09:00:06.934Z,A solar-powered microbrewery has design-led en...,Artistic design,artwork
1357,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,5ed23d4276027d35905cc798,2020-06-01T08:07:22.659Z,Energy.,Calligraphy|Typography|Pen and ink,artwork
1358,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [29]:
df_new['combined_features'] = df_new['academics'] + df_new['category'] + df_new['post_type']

In [30]:
df_new

,user_id,name,gender,academics,post_id,timestamp,title,category,post_type,combined_features
0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T18:01:54.308Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,undergraduateComputer Technology|Computer Appl...
1,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T20:40:18.693Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,undergraduateComputer Technology|Computer Appl...
2,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,5ed3820f76027d35905ccac8,2020-06-01T08:08:54.124Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,undergraduateComputer Technology|Computer Appl...
3,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed3820f76027d35905ccac8,2020-05-31T10:08:37.079Z,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,undergraduateComputer Technology|Computer Appl...
4,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,5ed1ff0276027d35905cc60d,2020-05-31T08:21:29.911Z,AWS services and how to launch OS on AWS Cloud,Computer Technology|Cloud Computing,blog,undergraduateComputer Technology|Cloud Computi...
...,...,...,...,...,...,...,...,...,...,...
1354,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed23e4d76027d35905cc7b8,2020-05-30T20:54:29.465Z,Success Story Of OYO Founder Ritesh Agarwal,Mass Media|Media And Society,blog,undergraduateMass Media|Media And Societyblog
1355,5ecb979eeaff6b0c3a58a4f0,Kanika Sharma,female,undergraduate,5ed2378276027d35905cc6b5,2020-05-30T10:40:59.948Z,Acceptance!,Visual Arts|Calligraphy|Pen and ink,artwork,undergraduateVisual Arts|Calligraphy|Pen and i...
1356,5ecf6e6576027d35905cbeec,ashish,male,graduate,5ed0007a76027d35905cc0ea,2020-05-29T09:00:06.934Z,A solar-powered microbrewery has design-led en...,Artistic design,artwork,graduateArtistic designartwork
1357,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,5ed23d4276027d35905cc798,2020-06-01T08:07:22.659Z,Energy.,Calligraphy|Typography|Pen and ink,artwork,undergraduateCalligraphy|Typography|Pen and in...
1358,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog,undergraduateComputer Technology|Computer Appl...

In [31]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

In [32]:
tfidf_matrix = tf.fit_transform(df_new['combined_features'])

In [33]:
tfidf_matrix.shape

(1359, 1008)

In [34]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [35]:
cosine_sim[0]

array([1., 1., 1., ..., 0., 0., 1.])

In [36]:
df_new = df_new.reset_index()
userid = df_new['user_id']
indices = pd.Series(df_new.index, index=df_new['user_id'])

In [37]:
def get_recommendations_userwise(userid1):
    idx = indices[userid1]
    #print (idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print (sim_scores)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    user_indices = [i[0] for i in sim_scores]
    #print (user_indices)
    a=user_indices[0:21]
    print(a)
    b=[]
    for i in user_indices:
        b.append(userid[i])
    b=set(b)
    return list(b)

In [38]:

print ("-----All Similar users post ID------")
get_recommendations_userwise(1)

-----All Similar users post ID------
[0, 1, 2, 3, 1079, 1080, 1081, 1198, 1204, 1205, 1210, 1212, 1213, 1358, 1082, 1199, 1211, 1214, 1173, 1171, 1174]

['5ea3191210426255a7aa9aa2',
 '5e5dfbbefbc8805f69e02c91',
 '5ed2399b76027d35905cc70f',
 '5ea5ac4f10426255a7aa9b78',
 '5e5855ced701ab08af792b51',
 '5ec553e2f2781131cc7e5138',
 '5ed0dfec76027d35905cc2ec',
 '5ec11abc74f7660d73aa0fbd',
 '5e99b0d4a3258347b42f2bf0',
 '5e92e380a3258347b42f278c',
 '5e78ce84cfc8b713f5ac7cee',
 '5eaa137910426255a7aa9c41',
 '5e8447a7a3258347b42f2446',
 '5e5b4511d701ab08af792b6d',
 '5e880f02a3258347b42f252c',
 '5ea5bf5110426255a7aa9b88',
 '5ecb979eeaff6b0c3a58a4f0',
 '5ed2edf176027d35905cc961',
 '5ecfa94676027d35905cbf78',
 '5e9a8013a3258347b42f2c29',
 '5ecdf7397023451e66223784',
 '5e93471ea3258347b42f279f',
 '5ed237ee76027d35905cc6c5',
 '5e26bb482a37d20505da2c10',
 '5e3563348d344822fed4d13a',
 '5ed3748576027d35905ccaab',
 '5e88156ca3258347b42f2542',
 '5ed3cbcbbd514d602c1530a7',
 '5e941316a3258347b42f27f4',
 '5ed3737976027d35905ccaa2',
 '5e7cf05bcfc8b713f5ac7db7',
 '5de50d768eab6401affbb135',
 '5eb7aeccfd92f539c465ddd7',
 '5eb2cad810426255a7aaa072',
 '5e5af599d701ab08af792b63',
 '5e7dde87a3258347b42f2108',
 '5ebcf2f2514aab59896bcd00',
 '5d7c994d5720533e15c3b1e9',
 '5e37b16ceab55d319938a6f8',
 '5e7def80a3258347b42f2124',
 '5e902793a3258347b42f2733',
 '5df3f8f2ee4bb5252b4f5393',
 '5ed3e898bd514d602c1530de',
 '5eb508ae10426255a7aaa12c',
 '5e8309c4a3258347b42f23f4',
 '5d618359fc5fcf3bdd9a0910',
 '5defd51362624b0135ea9fd2',
 '5ea83e8810426255a7aa9bf2',
 '5ed0d9bc76027d35905cc2c2',
 '5ed09e8576027d35905cc164',
 '5ed0defa76027d35905cc2de',
 '5ecfbcb376027d35905cbfe5',
 '5ed35aa376027d35905cca67',
 '5ed0fc0976027d35905cc448',
 '5e95da1aa3258347b42f29e6',
 '5eb4f73910426255a7aaa0cc',
 '5e7de336a3258347b42f210e',
 '5ea890e410426255a7aa9c16',
 '5df49b32cc709107827fb3c7',
 '5deeef6142a8854bf6eabab9',
 '5e365e758d344822fed4d144',
 '5ed24d5a76027d35905cc7d7',
 '5e4195c3eab55d319938a82c',
 '5ecfaa0076027d35905cbf83',
 '5eab903b10426255a7aa9c8e',
 '5e1ef04c2a37d20505da2b8b',
 '5e958e73a3258347b42f29a1',
 '5d9a2982979d5962253c2f81',
 '5e35a5ed8d344822fed4d13e',
 '5e783375cfc8b713f5ac7c5b',
 '5df11ee1ee4bb5252b4f5344',
 '5e97ef3ea3258347b42f2b47',
 '5ecfdaa976027d35905cc02c',
 '5d610ae1653a331687083239',
 '5ed0cfc676027d35905cc26a',
 '5e0d5ce12a37d20505da2a5d',
 '5df24eeaee4bb5252b4f5366',
 '5e9595dba3258347b42f29aa',
 '5ebc2ec4514aab59896bcc84',
 '5e822b86a3258347b42f2360',
 '5e93d7d5a3258347b42f27e4',
 '5ded443342a8854bf6eaba9a',
 '5ea3f6dc10426255a7aa9aff',
 '5e95a2d8a3258347b42f29bd',
 '5e954e9aa3258347b42f295a',
 '5e9828f2a3258347b42f2b71',
 '5ed2672576027d35905cc7f6',
 '5ecf6e6576027d35905cbeec',
 '5ed12ae476027d35905cc4a1',
 '5ece02427023451e66223861',
 '5e8437f6a3258347b42f243d',
 '5e4ce251f5561b1994c8e40d',
 '5e94248aa3258347b42f2804',
 '5df20f1fee4bb5252b4f5351',
 '5e7f4ad1a3258347b42f2155',
 '5ed13bb076027d35905cc4ba',
 '5d60098a653a331687083238',
 '5ea6c62410426255a7aa9bae',
 '5e845fbaa3258347b42f2450',
 '5ed232b976027d35905cc689',
 '5e7b30a6cfc8b713f5ac7d95',
 '5ecd5a5c7023451e662235c1',
 '5ed350ed76027d35905cca2c',
 '5d90fc1a641ef364939fb6cc',
 '5e8cbd92a3258347b42f2699',
 '5e901d01a3258347b42f270f',
 '5d6d2bb87fa40e1417a49315',
 '5ec3ba5374f7660d73aa1201',
 '5ec2204374f7660d73aa100f',
 '5e9c146ba3258347b42f2cbd',
 '5ed0bfc176027d35905cc1f8',
 '5ea6c05910426255a7aa9baa',
 '5ea43f7310426255a7aa9b1d',
 '5ed142cd76027d35905cc4cd',
 '5e942f7ba3258347b42f280e',
 '5e899be7a3258347b42f25d0']

In [39]:
def get_user_id(usrid_list):
    post_userwise = df_new['user_id'].isin(usrid_list) #
    #print(post_userwise)
    df1 = pd.DataFrame(data = df_new[post_userwise], columns=['user_id'])
    postlist = df1['user_id'].tolist()
    post_list = df_new['user_id'].isin(postlist) 
    df_temp = pd.DataFrame(data = df_new[post_list], columns=['title','post_type'])
    return df_temp.drop_duplicates()

In [40]:
print("Recomendation for",df_new["name"].iloc[1])
get_user_id(get_recommendations_userwise(1))

Recomendation for Kanika Sharma
[0, 1, 2, 3, 1079, 1080, 1081, 1198, 1204, 1205, 1210, 1212, 1213, 1358, 1082, 1199, 1211, 1214, 1173, 1171, 1174]

                                                  title post_type
0     Configure Docker with Django; PostgreSQL; Pg-a...      blog
4        AWS services and how to launch OS on AWS Cloud      blog
16                                        GAN's Part(2)      blog
22                   Recommend Systems Machine Learning      blog
26    Here are 7 of my favourite books that I've rea...      blog
...                                                 ...       ...
1354        Success Story Of OYO Founder Ritesh Agarwal      blog
1355                                        Acceptance!   artwork
1356  A solar-powered microbrewery has design-led en...   artwork
1357                                            Energy.   artwork
1358  Configure CI/CD Pipeline in GitLab and deploym...      blog

[451 rows x 2 columns]